body {
    background-image: url('../images/sample netflix homepage.png');
    background-size: cover;
    background-repeat: no-repeat;
   
}
.title{
    color: white; 
}

.container {
    width: 30%;
    margin: auto;   
    background-color: rgba(0,0,0,0.5);
    padding:100px;
    color: grey;
    margin-top: 10px;
}

input[type="submit"]{
    border-radius: 5px;
    padding:8px;
    outline: none;
    border: none;
    width: 175px;
    background-color: #FF0000;
    color:white;
    font-size: 13pt;  

}
.email::placeholder{
    color: rgb(228, 222, 222);
    font-size: 15px;
    padding: 10px;
}

input[type="text"]{
    outline: none;
    border: none;
    width: 175px;
    padding: 5px;
    background-color: rgba(46, 45, 45,0.5);
}

input[type="text"]:focus{
    color: white;
    font-size: 20px;
}
#help{
    float:right;
}


.facebook{
    color: grey;
    list-style: none;
    text-decoration: none;
}

.facebook:hover{
    color:white;
    text-decoration: underline;
    cursor: pointer;
}
#sign{
    color: white;
}

.last {
    text-decoration: none;
}